RewriteEngine On
RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]

<Files "votes.json">
    Require all denied
</Files>

<Files "config.php">
    Require all denied
</Files>

<FilesMatch "\.ini$">
    Require all denied
</FilesMatch>
