body {
  margin: 0;
  padding: 0;
  font-family: monospace;
  height: 100vh;
  background-color: #e2adff;
}

nav {
  height: 10vh;
  margin: 0px;
  padding: 0 40px;
  font-size: 24px;
  border-bottom: 1px dashed;
  display: flex;
}

.messagebox {
  padding-top: 20px;
}

.page-title {
  margin: auto 0;
  font-size: clamp(32px, 8vw, 24px);
}

.token-form {
  margin: auto 0 auto auto;
}

.token-input {
  height: 30px;
  width: 250px;
}

.page-content {
  padding: 0 20px;
  min-height: 85vh;
  background-color: #ffffff;
}

.content-title {
  margin: 0;
  padding: 20px 0;
}

.content-gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.gallery-container {
  margin: auto;
  max-width: 20%;
  padding-right: 50px;
  padding-bottom: 20px;
}

.gallery-image {
  max-width: 20vw;
}

.btn-upload {
  color: red;
}

.pagination {
  padding-bottom: 20px;
}

footer {
  min-height: 4vh;
  border-top: 1px dashed;
  text-align: center;
  display: flex;
}

.copyright {
  margin: auto;
}

.gallery-image {
  filter: brightness(100%);
  transition: filter 0.3s ease;
}

.gallery-image:hover {
  filter: brightness(70%);
}

@media (max-width: 500px) {
  .content-gallery {
    display: block;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .gallery-container {
    margin: auto;
    max-width: 100%;
    padding-right: 0px;
  }

  .gallery-image {
    max-width: 100%;
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  padding-top: 60px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  display: block;
  margin: auto;
  max-width: 90%;
  max-height: 80%;
  border-radius: 8px;
}

.modal-close {
  position: absolute;
  top: 20px;
  right: 30px;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
  z-index: 1001;
}

.modal-close:hover,
.modal-close:focus {
  color: #bbb;
}

.votes button {
  width: 55px;
  height: 25px;
  border: dashed 1px black;
  cursor: pointer;
  transition: 0.2s;
}

.votes-full button {
  width: 150px;
  height: 75px;
  border: dashed 1px black;
  cursor: pointer;
  transition: 0.2s;
}

.up {
  background-color: #23a744;
  opacity: 0.7;
}

.up:hover {
  opacity: 0.5;
}


.down {
  background-color: #b91f1f;
  opacity: 0.6;
}

.down:hover {
  opacity: 0.5;
}

.voted {
  opacity: 1;
}


.title-ref {
  color: black;
  text-decoration: none;
  /* no underline */
}